<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Wedding Chooser</title>
    <style type="text/css">
        .center {
            text-align: center;
        }
    </style>
</head>

<body>
<h1 class="center">Wedding Chooser</h1>

{% for slug, person1, person2 in weddings %}
  {% if slug %}
      <p><a href="/w/{{ slug }}">Wedding of {{ person1 }} and {{ person2 }} </a></p>

  {% endif %}
{% endfor %}
<p>&nbsp;</p>
<p>&nbsp;</p>

</body>

</html>
